.leaderboardItem {
  display: flex;
  flex-direction: row;
  background-color: var(--backgroundColor1);
  /* gap: clamp(1em, 1em + 2vw, 2em); */
  padding: var(--padding1);
  justify-content: space-between;
  border-radius: 10px;
  padding: var(--padding1) 10%;
  align-items: center;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 8px;
}

.leaderboardItem h4 {
  color: white;
}

.leaderboardItem h2 {
  color: white;
}

.winslooses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.winslooses h4 {
  font-size: var(--titleSize2);
}

.wins {
  color: rgb(93, 218, 93) !important;
}

.looses {
  color: rgb(235, 108, 108) !important;
}

.elo {
  color: rgb(128, 111, 111) !important;
}
