.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fieldName {
  font-size: var(--titleSize2);
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  color: white;
}

.fieldInput {
  height: 30px;
  padding: 8px;
  border: 1px solid var(--titleColor2);
  border-radius: 10px;
  background-color: var(--backgroundColor2);
  width: 80%;
  max-width: 200px;
  color: white;
}

.buttonContent {
  display: flex;
  align-items: right;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  filter: invert();
  margin-left: 8px;
}

.button {
  background-color: var(--backgroundColor2);
  border: none;
  color: var(--textColor1);
  padding: 10px 24px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  font-size: 16px;
  max-width: 150px;
}

.button:hover {
  background-color: var(--titleColor1);
  color: var(--textColor1);
}

.fieldError {
  font-size: var(--textSize1);
  color: rgb(255, 191, 191);
  font-size: 18px;
  margin-top: 5px;
}
