.page {
  padding: 3%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

.alternativePage {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alternativePage p {
  font-size: var(--titleSize2);
}

/*================ PROFILE PAGE ================*/

img.rounded {
  object-fit: cover;
  display: inline-block;
  position: relative;
  width: clamp(50px, 50px + 5vw, 200px);
  height: clamp(50px, 50px + 5vw, 200px);
  overflow: hidden;
  border-radius: 50%;
}

.userInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 30%;
  background-color: rgba(250, 235, 215, 0.205);
  padding: var(--padding1);
}

.editProfile {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3px;
}

.editProfile button {
  border-style: none;
  background: none;
  color: rgb(214, 133, 197);
  padding: 0;
  font-size: var(--titleSize2);
}

.editProfile button:hover {
  color: rgb(191, 197, 195);
}

.editProfile p {
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: row;
}

.stats {
  /* background-color: rgba(202, 230, 230, 0.096); */
  width: 70%;
  padding: var(--padding1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
  .userInfos,
  .stats {
    width: 100%;
  }
}

.winslooses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.winslooses h4 {
  font-size: var(--titleSize2);
}

.wins {
  color: rgb(93, 218, 93);
}

.looses {
  color: rgb(235, 108, 108);
}

/*================ PROFILE PAGE ================*/

.achievements {
  background-color: var(--backgroundColor1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.achievements ul {
  padding: 15px 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
