.subform form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}

.subform {
  display: flex;
  flex-direction: column;
  gap: var(--padding2);
}

.subform label {
  font-size: var(--titleSize3);
  color: var(--textColor1);
  font-weight: 600;
  margin: 0 auto;
}

.subform input[type="text"] {
  background-color: var(--backgroundColor1);
  color: white;
  border-style: none;
  border: solid 1px rgb(82, 80, 80);
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
}

.subform select {
  background-color: var(--backgroundColor1);
  border-style: none;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  width: 70%;
  margin: 0 auto;
  color: var(--textColor1);
  border: solid 1px rgb(82, 80, 80);
}

.subform input[type="submit"],
.subform button {
  background-color: var(--backgroundColor2);
  border: none;
  color: var(--textColor1);
  padding: 5px 10px;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  font-size: var(--textSize1);
  width: 50%;
  margin: 0 auto;
}

.subform input[type="submit"]:hover,
.subform button:hover {
  background-color: var(--titleColor1);
}

.subform p {
  text-align: center;
  font-size: var(--textSize1);
}
