.channelList {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

.channelList .displayedChannels {
  background-color: brown;
}

.channelList ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 400px;
}

.channelList h2 {
  font-size: var(--titleSize3);
}
