.menuSelector {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor3);
  justify-content: center;
  padding: 0 3px;
  padding: clamp(0.1em, 0.1em + 0.5vw, 0.6em);
}

.icon {
  width: clamp(10px, 10px + 1vw, 30px);
  height: clamp(10px, 10px + 1vw, 30px);
}

.menuSelector button {
  color: var(--titleColor1);
  border: none;
  background: none;
  font-size: var(--iconSize1);
}

.menuSelector button:hover {
  color: var(--titleColor2);
  filter: contrast(0);
}

.isActive {
  border: solid pink 1px;
  filter: contrast(0);
}
