.targetUserMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(0.3em, 0.3em + 1vw, 1em);
}

.targetUserMenu .closeTargetUserMenu {
  display: flex;
  justify-content: end;
  width: 100%;
}

.targetUserMenu .closeTargetUserMenu p {
  cursor: pointer;
}

.targetUserMenu .imgDiv {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.targetUserMenu button {
  background-color: var(--backgroundColor2);
  border: none;
  color: var(--textColor1);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  font-size: 12px;
  display: flex;
}

.targetUserMenu button:hover {
  background-color: var(--titleColor1);
  color: var(--textColor1);
}

.targetUserMenu img {
  width: auto;
  height: 100%;
  margin-left: -50px;
  /* animation: 0.5s slidein alternate infinite; */
  /* animation-iteration-count: 5; */
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
