.achievement {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: clamp(60px, 60px + 3vw, 100px);
  height: 170px;
}

.achievement img {
  width: clamp(60px, 60px + 3vw, 100px);
  height: clamp(60px, 60px + 3vw, 100px);
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(228, 150, 6);
  border: solid 4px black;
  margin: 0 auto;
}

.achievement h3 {
  font-size: clamp(0.4em, 0.4em + 3vw, 1em);
  color: rgb(248, 192, 6);
  text-align: center;
  line-height: 1.3;
}

.achievement p {
  font-size: var(--textSize2);
  margin: 0 auto;
  color: grey;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Teko", sans-serif;
}

.pageStyle p {
  color: rgb(201, 131, 40);
}
